In [9]:
import pandas as pd

In [10]:
database  = pd.read_csv("data.csv")
database

,Unnamed: 0,Hard work,Hard work based rank,Hard work based result,Luck,Score [Hard work + luck],Luck based rank,Luck based result,Luck and Hard work
0,0,110.912653,5425.0,False,125.723739,111.653208,4963.0,False,False
1,1,109.864080,5728.0,False,49.835177,106.862635,6611.0,False,False
2,2,68.785456,17196.0,False,134.667164,72.079542,16973.0,False,False
3,3,106.493721,6848.0,False,80.125588,105.175314,7249.0,False,False
4,4,84.234795,14348.0,False,74.392327,83.742672,14667.0,False,False
...,...,...,...,...,...,...,...,...,...
18295,18295,139.948781,394.0,False,122.783607,139.090522,333.0,False,False
18296,18296,130.016078,1205.0,False,54.333402,126.231944,1548.0,False,False
18297,18297,94.549808,11119.0,False,104.372941,95.040965,11035.0,False,False
18298,18298,126.927644,1636.0,False,86.145707,124.888547,1766.0,False,False
18299,18299,117.650453,3497.0,False,100.936396,116.814750,3498.0,False,False

In [11]:
database["Luck and Hard work"].value_counts()

False    18289
True        11
Name: Luck and Hard work, dtype: int64

In [12]:
database["Luck based result"].value_counts()

False    18289
True        11
Name: Luck based result, dtype: int64

In [15]:
database["Hard work based result"].value_counts()

False    18289
True        11
Name: Hard work based result, dtype: int64